{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style id="dynamic-styles"></style>

</head>
<body>
    
    <h1>Pick your preferred color.</h1>

    <form method="POST" action="{% url 'color' %}">

        {% csrf_token %}

        <label for="color">Choose a color:</label>
        <input type="color" id="color-input" name="color" value="{{ background_color }}">

        <div class="button-container">

            <button type="submit" class="submit-button">Update Color</button>
            <a href="/" class="button">Home</a>

        </div>
        

    </form>

    <script>

        const backgroundColor = "{{ background_color }}";
        const styleElement = document.getElementById('dynamic-styles');
        const inputElement = document.getElementById('color-input');
        const uniqueClassName = `color-placeholder-${Math.random().toString(36).substr(2, 9)}`;

        styleElement.textContent = `.${uniqueClassName}::placeholder {color: ${backgroundColor};}`;
        inputElement.classList.add(uniqueClassName);

    </script>

</body>
</html>